<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="LayoutPadrao">
	<head>
		<title>Carrinho</title>
	</head>
	<section layout:fragment="conteudo">
		<div class="container">
			<div class="card">
				<form action="/finalizar">
					<table class="table table-hover">
						<thead class="text-muted">
							<tr>
								<th scope="col">Produto</th>
								<th scope="col" width="120">Quantidade</th>
								<th scope="col" width="120">Preço</th>
								<th scope="col" width="200"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listcarrinho : ${cart}">
								<td style="vertical-align: middle;">
									<figure class="media">
										<div class="img-wrap"><img th:src="@{${'/img/capas/list' + listcarrinho.nome + '_' + listcarrinho.plat + '.png'}}" class="img-thumbnail img-sm" style="max-width:30%"></div>
										<figcaption class="media-body">
											<h6 class="title text-truncate" th:text="${listcarrinho.nome}"></h6>
											<dl class="param param-inline small">
										  		<dt>Plataforma: </dt>
										  		<dd th:text="${listcarrinho.plat.tipo}"></dd>
											</dl>
										</figcaption>
									</figure> 
								</td>
								<td style="text-align: center; vertical-align: middle;"> 
									<select class="form-control" name="jogoQtd">
										<option value=1>1</option>
										<option value=2>2</option>	
										<option value=3>3</option>	
										<option value=4>4</option>	
										<option value=5>5</option>	
										<option value=6>6</option>	
										<option value=7>7</option>
										<option value=8>8</option>	
										<option value=9>9</option>	
										<option value=10>10</option>
									</select> 
								</td>
								<td style="text-align: center; vertical-align: middle;"> 
									<div class="price-wrap"> 
										<var class="price" th:text="${'R$ '+listcarrinho.preco}"></var> 
										<small class="text-muted">(por unidade)</small> 
									</div> <!-- price-wrap .// -->
								</td>
								<td class="text-right" style="text-align: center; vertical-align: middle;">  
									<a href="" class="btn btn-outline-danger"> × Remover</a>
								</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-success">FINALIZAR</button></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!-- <div class="container-sm">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h1 class="panel-title">Carrinho</h1>
			    </div>
			    <div class="panel-body">
				    <table class="table table-bordered table-sm table-hover">
						<thead>
							<tr>
							    <th>Nome</th>
							    <th>Plataforma</th>
							    <th>Estoque</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listcarrinho : ${cart}">
								<td th:text="${listcarrinho.nome}"></td>
								<td th:text="${listcarrinho.plat.tipo}"></td>
								<td th:text="${listcarrinho.qtd}"></td>
							</tr>
						</tbody>
					</table>
					<form method="POST" action="/finalizar">
						<div class="form-group">
							<div>
								<button type="submit">Finalizar</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>-->
	</section>
</html>