<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="LayoutPadrao">
	<head>
		<title>Carrinho</title>
	</head>
	<section layout:fragment="conteudo">
		<div class="container">
			<div class="card">
				<table class="table table-hover">
					<thead class="text-muted">
						<tr>
							<th scope="col">Produto</th>
							<th scope="col" width="120">Quantidade</th>
							<th scope="col" width="120">Preço</th>
							<th scope="col" width="200"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="listcarrinho : ${cart}">
							<td>
								<figure class="media">
									<div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/2.jpg" class="img-thumbnail img-sm"></div>
									<figcaption class="media-body">
										<h6 class="title text-truncate" th:text="${listcarrinho.nome}"></h6>
										<dl class="param param-inline small">
									  		<dt>Plataforma: </dt>
									  		<dd th:text="${listcarrinho.plat.tipo}"></dd>
										</dl>
									</figcaption>
								</figure> 
							</td>
							<td> 
								<select class="form-control">
									<option>1</option>
									<option>2</option>	
									<option>3</option>	
									<option>4</option>	
									<option>5</option>	
									<option>6</option>	
									<option>7</option>
									<option>8</option>	
									<option>9</option>	
									<option>10</option>
								</select> 
							</td>
							<td> 
								<div class="price-wrap"> 
									<var class="price">USD 145</var> 
									<small class="text-muted">(USD5 each)</small> 
								</div> <!-- price-wrap .// -->
							</td>
							<td class="text-right">  
								<a href="" class="btn btn-outline-danger"> × Remover</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class="container-sm">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h1 class="panel-title">Carrinho</h1>
			    </div>
			    <div class="panel-body">
				    <table class="table table-bordered table-sm table-hover">
						<thead>
							<tr>
							    <th>Nome</th>
							    <th>Plataforma</th>
							    <th>Estoque</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listcarrinho : ${cart}">
								<td th:text="${listcarrinho.nome}"></td>
								<td th:text="${listcarrinho.plat.tipo}"></td>
								<td th:text="${listcarrinho.qtd}"></td>
							</tr>
						</tbody>
					</table>
					<form method="POST" action="/finalizar">
						<div class="form-group">
							<div>
								<button type="submit">Finalizar</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>-->
	</section>
</html>